<!DOCTYPE html>
<html>
	<body>
		<div class="jumbotron text-center">
			<div class="container">
				<a href="/" class="lang-logo">
					<img src="/lang-logo.png">
				</a>
				<h1>Heroku course</h1>
				<p>This is an extended version of https://github.com/heroku/java-getting-started heroku app.</p>
				<a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-java"><span class="glyphicon glyphicon-flash"></span> Getting Started with Java</a>
				<a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/java-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
			</div>
		</div>
	</body>
</html>
